<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style>
        table {
            width: 300px;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                 <th rowspan="4">event_id</th>
                 <th rowspan="4">orgc_id</th>
				 <th rowspan="4">org_id</th>
				 <th rowspan="4">date</th>
				 <th rowspan="4">thread_level_id</th>
				 <th rowspan="4">info</th>
				 <th rowspan="4">publication</th>
				 <th rowspan="4">uuid</th>
				 <th rowspan="4">attribute_count</th>
				 <th rowspan="4">analysis</th>
				 <th rowspan="4">timestamp</th>
				 <th rowspan="4">description</th>
				 <th rowspan="4">proposal_email_lock</th>
				 <th rowspan="4">locked</th>
				 <th rowspan="4">publish_timestamp</th>
				 <th rowspan="4">sharing_group_id</th>
				 <th rowspan="4">disable_correlation</th>
				 <th rowspan="4">extends_uuid</th>
				<th colspan="4">org</th>
				 <th colspan="4">orgc</th>
				 <th colspan="24">attribute</th>
				 <th rowspan="4">ShadowAttribute</th>
				 <th rowspan="4">RelatedEvent</th>
				 <th colspan="27">Galaxy</th>
				 <th colspan="31">Object</th>
				 <th colspan="7">Tag</th>
			</tr>
			<tr>
				
				<th rowspan="3">id</th>
				<th rowspan="3">name</th>
				<th rowspan="3">uuid</th>
				<th rowspan="3">local</th>
				<th rowspan="3">id</th>
				<th rowspan="3">name</th>
				<th rowspan="3">uuid</th>
				<th rowspan="3">local</th>
				<th rowspan="3">id</th>
				<th rowspan="3">type</th>
				<th rowspan="3">category</th>
				<th rowspan="3">to_ids</th>
				<th rowspan="3">uuid</th>
				<th rowspan="3">event_id</th>
				<th rowspan="3">distribution</th>
				<th rowspan="3">timestamp</th>
				<th rowspan="3">comment</th>
				<th rowspan="3">sharing_group_id</th>
				<th rowspan="3">deleted</th>
				<th rowspan="3">disable_correlation</th>
				<th rowspan="3">object_id</th>
				<th rowspan="3">object_relation</th>
				<th rowspan="3">value</th>
				<th rowspan="3">Galaxy</th>
				<th rowspan="3">ShadowAttribute</th>
				<th colspan="7">Tag</th>
				<th rowspan="3">id</th>
				<th rowspan="3">uuid</th>
				<th rowspan="3">name</th>
				<th rowspan="3">type</th>
				<th rowspan="3">description</th>
				<th rowspan="3">version</th>
				<th rowspan="3">icon</th>
				<th rowspan="3">namespace</th>
				<th colspan="19">GalaxyCluster</th>
				<th rowspan="3">id</th>
				<th rowspan="3">name</th>
				<th rowspan="3">meta-category</th>
				<th rowspan="3">description</th>
				<th rowspan="3">template_uuid</th>
				<th rowspan="3">template_version</th>
				<th rowspan="3">event_id</th>
				<th rowspan="3">uuid</th>
				<th rowspan="3">timestamp</th>
				<th rowspan="3">distribution</th>
				<th rowspan="3">sharing_group_id</th>
				<th rowspan="3">command</th>
				<th rowspan="3">deleted</th>
				<th rowspan="3">ObjectReference</th>
				<th colspan="17">Attribute</th>
				<th rowspan="3">id</th>
				<th rowspan="3">name</th>
				<th rowspan="3">colour</th>
				<th rowspan="3">exportable</th>
				<th rowspan="3">user_id</th>
				<th rowspan="3">hide_tag</th>
				<th rowspan="3">numerical_value</th>
				
				</tr>
				
				
		
			<tr>
				<th rowspan="2">id</th>
				<th rowspan="2">name</th>
				<th rowspan="2">colour</th>
				<th rowspan="2">exportable</th>
				<th rowspan="2">user_id</th>
				<th rowspan="2">hide_tag</th>
				<th rowspan="2">numerical_value</th>
				<th rowspan="2">id</th>
				<th rowspan="2">uuid</th>
				<th rowspan="2">collection_uuid</th>
				<th rowspan="2">type</th>
				<th rowspan="2">value</th>
				<th rowspan="2">tag_name</th>
				<th rowspan="2">description</th>
				<th rowspan="2">galaxy_id</th>
				<th rowspan="2">source</th>
				<th rowspan="2">authors</th>
				<th rowspan="2">version</th>
				<th rowspan="2">tag_id</th>
				<th colspan="7">meta</th>
				<th rowspan="2">id</th>
				<th rowspan="2">type</th>
				<th rowspan="2">category</th>
				<th rowspan="2">to_ids</th>
				<th rowspan="2">uuid</th>
				<th rowspan="2">event_id</th>
				<th rowspan="2">distribution</th>
				<th rowspan="2">timestamp</th>
				<th rowspan="2">comment</th>
				<th rowspan="2">sharing_group_id</th>
				<th rowspan="2">deleted</th>
				<th rowspan="2">disable_correlation</th>
				<th rowspan="2">object_id</th>
				<th rowspan="2">object_relation</th>
				<th rowspan="2">value</th>
				<th rowspan="2">Galaxy</th>
				<th rowspan="2">ShadowAttribute</th>
		
				
			</tr>
			<tr>
				<th>extension</th>
				<th>payment-method</th>
				<th>price</th>
				<th>ransomnotes-filenames</th>
				<th>refs</th>
				<th>synonyms</th>
				<th>local</th>
			</tr>
		</thead>
			
			{% for i in data %}
			<tr>
			  
				<th>{{ i.event_id }}</th>
				<th>{{ i.orgc_id }}</th>
				<th>{{ i.org_id }}</th>
				<th>{{ i.date }}</th>
				<th>{{ i.thread_level_id }}</th>
				<th>{{ i.info }}</th>
				<th>{{ i.publication }}</th>
				<th>{{ i.uuid }}</th>
				<th>{{ i.attribute_count }}</th>
				<th>{{ i.analysis }}</th>
				<th>{{ i.timestamp }}</th>
				<th>{{i.distribution}}</th>
				<th>{{i.proposal_email_lock}}</th>
				<th>{{i.locked}}</th>
				<th>{{i.publish_timestamp}}</th>
				<th>{{i.sharing_group_id}}</th>
				<th>{{i.disable_correlation}}</th>
				<th>{{i.extends_uuid}}</th>
				<th>{{i.Org}}</th>
				<th>{{i.Orgc}}</th>
				<th>{{i.Attribute}}</th>
				<th>{{ i.ShadowAttribute }}</th>
				<th> {{ i.RelatedEvent}}</th>
				<th>{{i.Galaxy}}</th>
				<th>{{i.Object}}</th>
				<th>{{i.Tag}}</th>
			</tr>
			{% endfor %}
		
    </table>
</body>
</html                            